[submodule "qgis-processing-gpf"]
	path = processing_gpf
	url = https://github.com/DHI-GRAS/qgis-processing-gpf
[submodule "qgis-processing-workflow"]
	path = processing_workflow
	url = https://github.com/DHI-GRAS/qgis-processing-workflow
[submodule "qgis-temporal-profile"]
	path = temporalprofiletool
	url = https://github.com/DHI-GRAS/qgis-temporal-profile
[submodule "pointsamplingtool"]
	path = pointsamplingtool
	url = https://github.com/borysiasty/pointsamplingtool.git
[submodule "qgis-openlayers-plugin"]
	path = openlayers_plugin
	url = https://github.com/sourcepole/qgis-openlayers-plugin.git
[submodule "LecoS"]
	path = LecoS
	url = https://github.com/Martin-Jung/LecoS.git
