[submodule "qgis-processing-gpf"]
	path = qgis-processing-gpf
	url = https://github.com/DHI-GRAS/qgis-processing-gpf
[submodule "qgis-processing-workflow"]
	path = qgis-processing-workflow
	url = https://github.com/DHI-GRAS/qgis-processing-workflow
[submodule "qgis-processing-swat"]
	path = qgis-processing-swat
	url = https://github.com/DHI-GRAS/qgis-processing-swat
[submodule "qgis-temporal-profile"]
	path = qgis-temporal-profile
	url = https://github.com/DHI-GRAS/qgis-temporal-profile
[submodule "processing"]
	path = processing
	url = https://github.com/TIGER-NET/WOIS_processing.git
[submodule "simple-atmospheric-correction"]
	path = atmospheric_correction
	url = https://github.com/GlobWetlandAfrica/simple-atmospheric-correction.git
[submodule "LecoS"]
	path = LecoS
	url = https://github.com/Martin-Jung/LecoS.git
[submodule "pointsamplingtool"]
	path = pointsamplingtool
	url = https://github.com/borysiasty/pointsamplingtool.git
[submodule "valuetool"]
	path = valuetool
	url = https://github.com/etiennesky/valuetool.git
[submodule "qgis-openlayers-plugin"]
	path = qgis-openlayers-plugin
	url = https://github.com/sourcepole/qgis-openlayers-plugin.git
